// * 비교연산자 (숫자형)
// ERROR : 비교하거나 연산하는 값의 단위가 일치하지 않으면 에러가 발생
// 색상, 숫자, 문자열은 값과 단위가 동일한 경우나, 값의 단위를 서로 변환했을 때 일치하는 경우  true를 반환
// 맵은 키와 값이 모두 동일할 때, 리스트는 들어있는 값들이 모두 동일해야만 true를 반환
// boolean의 경우, true == true, false == false, null == null처럼 각자 자신과 비교할 때만 true를 반환

@debug 100 > 50; // true
@debug 10px <= 17px; // true
@debug 10px == 17px; // false
@debug 10px != 17px; // true
@debug 96px >= 30px; // true
@debug 1000ms <= 1s; // true

// 숫자
@debug 1px == 1px; // true
@debug 1px != 1em; // true
@debug 1 != 1px; // true
@debug 96px == 1in; // true

// 문자
@debug "Poppins" == Poppins; // true
@debug "Open Sans" != "Roboto"; // true

// 색상
@debug rgba(53, 187, 169, 1) == #35bba9; // true
@debug rgba(179, 115, 153, 0.5) != rgba(179, 115, 153, 0.8); // true

// 리스트
@debug (5px 7px 10px) != (5px, 7px, 10px); // true
@debug (5px 7px 10px) != (5px 7px 10px); // true
@debug (5px 7px 10px) == (5px 7px 10px); // true

// 아래와 같이 다르게 나오는 부분이 있으니 확인
p {
  @if (1 == 1px) {
    //false
    font-size: 10px;
  } @else {
    font-size: 20px;
  }
}

// * 산술연산자 (숫자나 색)
// 슬래시/는 리스트에서도 사용하기 때문에 괄호를 사용하거나, 변수와 함께 사용하거나, 덧셈을 할 때 함께 써서 Scss에게 / 를 나누기 연산자임을 알려줘야 함
@debug 10s + 15s; // 25s
@debug 1in - 10px; // 0.8958333333in
@debug 5px * 3px; // error 공식문서에는 15px*px 이라고 나옴
@debug 1in % 9px; // 0.0625in (1in == 96px)

.one {
  font-size: 10px + 10px;
}

.two {
  font-size: 30px - 10px;
}

.three {
  font-size: 10px * 2;
}

// 괄호가 있어야 함
.four {
  font-size: (20px / 10);
}

.five {
  font-size: 8px % 3;
}

// * String
// 앞서 말했던 + 연산자에서 a와 b가 모두 문자열이라면 문자열 a, b 를 합쳐서 새로운 문자열로 반환
// 만약 a나 b중 하나만 문자열이라 하더라도 문자열이 아닌 값은 문자열로 변환하여 두 값을 합친 문자열로 반환

@debug "Helvetica" + " Neue"; // "Helvetica Neue"
@debug sans- + serif; // sans-serif
@debug sans - serif; // sans-serif

@debug "Elapsed time: " + 10s; // "Elapsed time: 10s";
@debug true + " is a boolean value"; // "true is a boolean value";

.status-bar {
  font-family: "Noto Sans KR", sans- + serif;
}

td {
  &::after {
    content: "Heades" + " up!"; // 문자열 더하기
  }
}

// * 논리연산자 (Boolean type)
@debug not true; // false
@debug not false; // true
// true : 1
// false : 0
// or : 더하기
// and : 곱하기

@debug true and true; // true
@debug true and false; // false

// 두 조건이 모두 충족되는 경우
$value: 32px;
$color: black;

p {
  @if ($value >= 32px and $color == red) {
    letter-spacing: 1rem;
  } @else {
    letter-spacing: 0.5rem;
  }
}

@debug true or false; // true
@debug false or false; // false

// 어떤 조건이든 하나라도 true 만족한다면!
$value2: 32px;
$color2: red;

.test {
  @if ($value2 >=32px or $color2 ==black) {
    letter-spacing: 1rem;
  } @else {
    letter-spacing: 0.5rem;
  }
}
