// * extend
// 연관 있는 요소들끼리 스타일 코드가 중복된 경우에 사용
// 이미 스타일이 작성된 선택자의 클래스를 extend하거나, %를 사용해서 따로 스타일을 정의한 후 extend하여 원하는 선택자에게 스타일 적용 가능

// mixin는 (관계 없는) 선택자에서 조금 다른 스타일을 적용할 때 사용
// extend는 (관계 있는) 선택자들의 동일한 소스코드 적용시 사용

// * class이름 가져오기
// class명을 extend 하는 경우 다중 선택자 클래스 사용 불가 (.box .container, .box1 + .box2)
.base-box {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 10%;
}

.box {
  @extend .base-box;
  border: 10px solid black;
}

// * %placeholder
// % 로 선택자를 만듦
// @extend를 사용해서 앞서 %placeholder 스타일 블럭을 불러오면 됨
// %선택자는 CSS로 컴파일되지 않음
// extend를 사용할 때, 클래스보다 %를 사용하기를 권장
%base-box {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 10%;
}

.box {
  @extend %base-box;
  border: 10px solid black;
}
