// * Mixin
// 코드를 재사용하기 위해 만들어진 기능
// 선택자들 사이에서 반복되고 있는 코드들은 mixin을 사용하여 코드 반복을 줄임
// 중복되는 코드는 mixin으로 만들어 놓고 원하는 선택자 블럭에 mixin을 include하면 됨

// * Mixin 사용
/* @mixin 이름(매개변수) //생성
앞에 @Mixin을 쓰고 이름을 정해준 후, 중괄호 { } 안에 중복되는 코드를 넣어줍 */
/* @include 이름(인수) //사용
@include를 사용하여 스타일 하고자 하는 요소에 포함 시키면 됨 */
// 여러 개의 mixin을 만들어 사용한다면, _mixins.scss 파일을 만들어서 관리

// * before
// .card {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: gray;
// }
// .aside {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: white;
// }
// /*.card와 .aside 클래스 선택자의 적용한 스타일이 겹침*/

// * after
// @mixin center-xy{
// 	display: flex;
// 	justify-content : center;
// 	align-items : center;
// }
// .card{
// 	@include center-xy; // 정의한 center-xy mixin을 사용하여 코드 한줄이면 끝!
//     background: gray;
// }
// .aside{
// 	@include center-xy;
//     background: white;
// }

@mixin box {
  width: 100px;
  height: 100px;
}

// blue
.card {
  @include box;
  background-color: blue;
}

// red
.profile {
  @include box;
  background-color: red;
}

// 내부에서 사용하지 않기를 권장
// blue
.card {
  @mixin box {
    width: 100px;
    height: 100px;
  }

  @include box;
  background-color: blue;
}

// red
// .profile {
//     @include box;
//     background-color: red;
// }

// * if문 이용한 예제, 제일 많이 쓰는 형태
@mixin box($value) {
  width: 100px;
  height: 100px;
  @if ($value == "circle") {
    border: 1px solid black;
    border-radius: 50%;
  }
  @if ($value == "rect") {
    border: 1px solid black;
    border-radius: 10%;
  }
}

.card {
  @include box("circle");
  background-color: blue;
}

.profile {
  @include box("rect");
  background-color: red;
}

// * Mixin 버튼 예제
@mixin pri-button($width, $height, $radius: 10px) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-color: aqua;
}

@mixin pri-button_($width: 100px, $height: 50px, $radius: 10px) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-color: aqua;
}

.btn {
  @include pri-button(100px, 50px, 20px);
}

.btn_ {
  @include pri-button(100px, 50px);
}

.btn__ {
  @include pri-button(100px, null, 20px);
}

.btn__ {
  @include pri-button_(100px, null, 20px);
}

// 중앙값 비우기
.btn__ {
  @include pri-button_(100px, $radius: 20px);
}

// * Mixin 카드 만들기 실습
@mixin flex($direction) {
  display: flex;
  justify-content: $direction;
  align-items: $direction;
}

@mixin item($length, $radius) {
  width: $length * 1px;
  height: $length * 1px;
  border-radius: $radius;
}

.card {
  @include flex(center);
}

.card-item {
  @include item(100, 10%);
}

.product {
  @include flex(right);
}

.product-item {
  @include item(300, 25%);
}
