// * @if
// @if에 괄호 없이 true나 false를 반환할 수 있는 조건문 작성하면 됨 (조건을 작성할 때 괄호를 사용할 수 있지만 일반적으로 괄호는 생략)
// 조건에는 논리연산자 and, or, not을 사용하고, if문의 조건이 true일 때만 { } 괄호 안에 있는 코드가 실행

// * @else
//  if 문처럼 조건문이 필요하지는 않으며 if문에서 걸었던 조건이 false가 나오면 else문의 코드가 실행

@if (조건) {
  // 조건이 참일 때 실행될 구문
} @else {
  // if문의 조건이 거짓일 때 실행될 구문
}

// * if문 예제
// circle이 false면 사각형을, true이면 원형으로 스타일함
@mixin avatar($size, $circle: false) {
  width: $size;
  height: $size;

  @if $circle {
    border-radius: $size / 2;
  }
}

.square-av {
  @include avatar(100px, $circle: false);
}
.circle-av {
  @include avatar(100px, $circle: true);
}

@mixin avatar($size, $circle: false) {
  width: $size;
  height: $size;
  background-color: red;

  @if $circle {
    border-radius: $size / 2; // step 1
    // border-radius: ($size / 2) + px; // step 2
    // border-radius: ($size / 2) + "px"; // 문자열 "00px"로 들어갑니다.
  }
}

.one {
  @include avatar(10px, true);
}

.two {
  @include avatar(10, true);
}

// 1. if 단독
// 2. if / else
// 3. if / else / else
// 4. if / else / else .... / else
@mixin button($color) {
  @if $color ==black {
    font-size: 32px;
    background-color: white;
  } @else if $color ==white {
    font-size: 24px;
    background-color: black;
  } @else if $color ==green {
    font-size: 24px;
    background-color: black;
  } @else {
    font-size: 16px;
    background-color: blue;
  }
}

.btn {
  @include button(black); // 파선아실
}

// * 미디어쿼리 조건문 예제
$media-width-lg: 1000px;
$media-width-md: 800px;
$media-width-sm: 500px;

$media-font-lg: 16px;
$media-font-md: 14px;
$media-font-sm: 12px;

@mixin responsive($size) {
  background-color: green;
  width: 200px;
  height: 200px;
  font-size: $media-font-lg;
  @if $size == lg {
    @media screen and (max-width: $media-width-lg) {
      width: 100px;
      height: 100px;
      font-size: $media-font-md;
      @content;
    }
  } @else if $size == md {
    @media screen and (max-width: $media-width-md) {
      width: 100px;
      height: 100px;
      font-size: $media-font-md;
      @content;
    }
  } @else if $size == sm {
    @media screen and (max-width: $media-width-sm) {
      width: 100px;
      height: 100px;
      font-size: $media-font-sm;
      @content;
    }
  }
}

.main {
  @include responsive(lg) {
    color: red;
  }
}
