body {
  padding: 30px;
}

.box {
  margin: 40px;
  background: rgb(214, 243, 255);
  padding: 20px;
}

.text {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  color: rgb(206, 74, 131);
  font-weight: bold;
}

p {
  font-weight: bold;
  padding: 20px;
}

/* body {
  padding: 30px;
}

div {
  margin: 40px;
  background: rgb(214, 243, 255);
}
h2 {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  color: rgb(206, 74, 131);
} */
